*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}

body{
  
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdNsrKydMRM6W_JeRDc6Dh2342FnfA4pIYxw&usqp=CAU");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;
    
}

.form{
    width: 500px;
    height: 200px;
    background-color: rgb(230, 222, 222);
    margin-top: -177px;
    margin-left: 161px;
    border-radius: 10px;


}

.input{
    margin-left: 25px;
    margin-top:25px;
    width: 444px; 
    height:50px;
    border-radius: 5px;
    border: 1px solid white;
    color: black;
    font-family: Proxima Nova,Arial,sans-serif;
    text-align: center;
    outline: 0px;

}

.save{
    font-family: Proxima Nova,Arial,sans-serif;
    font-size: 25px;
   padding: 10px 23px;
  border: none;
    background-color: rgba(221, 96, 169, 0.655);
    color: white;
  border-radius: 20px;
  margin-left:64px; 
 text-align: center;
 font-weight: bolder;
 position:relative;
 top: 40px;
}

a{
    font-family: Proxima Nova,Arial,sans-serif;
    text-decoration: none;
    font-size: 25px;
   padding: 10px 23px;
    background-color: rgba(221, 96, 169, 0.655);
    color: white;
  border-radius: 20px;
  margin-left:170px; 
 text-align: center;
 font-weight: bolder;
 position:relative;
 top: 40px; 
}
.maintext h2, h4{
    margin-left: 168px;
    position: relative;
    top: 110px;
}

.maintext h2{
    font-size: 65px;
    font-family: Proxima Nova,Arial,sans-serif;
    font-weight: bolder;
}
.maintext h4{
    font-size: 35px; 
    font-family: Proxima Nova,Arial,sans-serif;
    font-weight: 500;
    margin-left: 181px;
}

.nexttext{
    margin-left: 800px;
    position: relative;
    top: 75px;
    font-size: 60px;
    font-family: Proxima Nova,Arial,sans-serif;
    font-weight: 500;
}

.nexttext h3{
    margin: 19px;
}